* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.container {
    width: 100%;
}

/* Header */

.header {
    background: #000;
    color: #fff;
    padding: 12px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#signInButton {
    display: none;
}

#mobileNavToggle {
    display: none;
    margin-top: 2px;
    margin-right: 8px;
}

.header .site-logo {
    padding: 0 0 0 10px;
}

.header nav {
    padding: 0 10px;
}

.header nav ul {
    list-style: none;
    margin-top: 5px;
}

.header nav ul li {
    display: inline-block;
    padding: 5px 10px 8px 10px;
    margin-right: 25px;
    border-bottom: 2px solid transparent;
}

.header nav ul li:first-child {
    width: 200px;
    border-right: 1px solid rgb(33, 33, 33);
}


.header nav ul li:hover:first-child {
    border-bottom: 2px solid dodgerblue;
}

.header nav ul li:hover:nth-of-type(2) {
    border-bottom: 2px solid white;
}

.header nav ul li:hover:nth-of-type(3) {
    border-bottom: 2px solid red;
}

.header nav ul li:hover:nth-of-type(4) {
    border-bottom: 2px solid yellow;
}

.header nav ul li:hover:nth-of-type(5) {
    border-bottom: 2px solid blue;
}

.header nav ul li:hover:nth-of-type(6) {
    border-bottom: 2px solid darkblue;
}

.header nav ul li:hover:nth-of-type(7) {
    border-bottom: 2px solid green;
}

.header nav ul li:hover:nth-of-type(8) {
    border-bottom: 2px solid cyan;
}

.header nav ul li:hover:nth-of-type(9) {
    border-bottom: 2px solid purple;
}

.header nav ul li:hover:nth-of-type(10) {
    border-bottom: 2px solid white;
}

.header nav ul li:last-child {
    margin-right: 0;
}

.header nav ul li a {
    color: white;
    font-weight: 600;
}

.header .site-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .site-search .site-search-input {
    background: #202224;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
    color: white;
    padding-left: 38px;
    padding-top: 12px;
    height: 40px;
    width: 250px;
    font-weight: 500;
    font-size: 13px;
}

.header .site-search .site-search-input:hover {
    background: #3a3c3e;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
}

/* Mobile nav */
#mobileNav {
    display: none;
    background: #000;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid #2F2F2F;
}

#mobileNav ul {
    list-style: none;
}

#mobileNav ul li {
    display: inline-block;
    width: 40%;
    padding: 5px 10px 15px 10px;
    margin-right: 25px;
}

#mobileNav ul li a {
    color: white;
    font-weight: 500;
}

#closeMobileNavBtn {
    position: relative;
    top: 15px;
    left: 95%;
}

/*Latest news section */

.latest-news {
    width: 100%;
    padding: 20px 15%;
    display: grid;
    grid-template-areas: 'big-news-title big-news-title big-news-title big-news-title'
        'big-news-card big-news-card small-news-cards small-news-cards'
        'big-news-card big-news-card small-news-cards small-news-cards';
}

/* Latest news title */

.latest-news .title {
    grid-area: big-news-title;
    margin-bottom: 25px;
}

.latest-news .title .welcome {
    font-weight: 700;
    font-size: 24px;
    float: left;
    color: #4a4a4a;
}

.latest-news .title .date {
    color: gray;
    font-weight: 400;
    font-size: 22px;
    float: right;
}

/* Latest news cards */

/*Big news card */

.latest-news .big-news-card {
    grid-area: big-news-card;
}

.latest-news .news-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 351px;
    color: white;
    padding: 10px 15px;
}

.latest-news .news-card:hover {
    opacity: 0.95;
}

.latest-news .news-card a {
    color: white;
}

.latest-news .news-card .news-card-title {
    margin-top: 180px;
    font-size: 30px;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

.latest-news .news-card .news-card-description {
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.latest-news .news-card .news-card-footer {
    margin-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border-left: 2px solid red;
    padding-left: 5px;
}

.latest-news .news-card .news-card-footer a:hover {
    text-decoration: underline;
}

/*Small news cards */

.latest-news .small-news-cards {
    grid-area: small-news-cards;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.latest-news .small-news-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 45%;
    min-height: 171px;
    padding: 10px 15px;
}

.latest-news .small-news-card:hover {
    opacity: 0.9;
}

.latest-news .small-news-card a {
    color: white;
}

.latest-news .small-news-card .news-card-title {
    min-height: 50px;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
    /* vertical-align: bottom; */
}

.latest-news .small-news-card .news-card-footer {
    margin-top: 10px;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 5px;
}

.latest-news .small-news-card .news-card-footer a:hover {
    text-decoration: underline;
}

/* Reel */

.reel {
    width: 100%;
    padding: 20px 15%;
    background-image: url("../images/p08h02kk.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    color: white;
}

.reel .title {
    display: inline-block;
    width: 100%;
    padding: 0 0 25px 0;
}

.reel .title h2 {
    text-transform: uppercase;
    font-size: 52px;
    font-weight: 500;
}

.reel .title p {
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

.reel .title .visit-reel {
    float: right;
}

.reel .title a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 6px 20px;
    color: white;
    border: 1px solid #fff;
    border-radius: 25px;
    margin-top: 25px;
}

.reel .title a:hover {
    background-color: rgba(0, 0, 0, 0.8)
}

.reel .reel-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
}

.reel .reel-cards .reel-card {
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    min-height: 280px;
    width: 350px;
    color: #444444;
    padding: 10px 15px;
    margin-bottom: 25px;
}

.reel .reel-cards .reel-card .content {
    margin-top: 200px;
    font-weight: bold;
    font-size: 20px;
}

/* More news */
.more-news {
    background-color: #F6F6F6;
    padding: 20px 15%;
    width: 100%;
    min-height: 500px;
    display: inline-block;
}

/*Side bar*/
.more-news aside {
    float: left;
    width: 29%;
    color: white;
    background-color: #2F2F2F;
}

.more-news aside h3 {
    background-color: #E91802;
    font-size: 16px;
    padding: 12px 12px;
    text-transform: uppercase;
}

.more-news aside table {
    background-color: #363636;
    color: #d3d3d3;
    padding: 28px 18px;
    width: 100%;
}

.more-news aside table a {
    color: #d3d3d3;
}

.more-news aside table:nth-child(odd) {
    background-color: #2F2F2F;
}

.more-news aside table img {
    width: 50px;
    border-radius: 100%;
    margin-right: 18px;
}

.more-news aside table .headline {
    font-weight: 500;
    font-size: 20px;
}

.more-news aside table .author {
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    margin-top: 8px;
}

/*News cards*/
.more-news section {
    float: right;
    width: 70%;
}

.more-news .news-card {
    background-color: white;
    background-repeat: no-repeat;
    background-position: top;
    /* background-size: contain; */
    width: 32%;
    color: #000;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.more-news .news-card:hover {
    opacity: 0.85;
}

.more-news .news-card a {
    color: #000;
}

.more-news .news-card .news-card-title {
    margin-top: 180px;
    font-size: 19px;
    font-weight: 600;
    min-height: 50px;
}

.more-news .news-card .news-card-description {
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

.more-news .news-card .news-card-footer {
    margin-top: 48px;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 2px solid red;
    padding-left: 5px;
}

.more-news .news-card .news-card-footer a {
    color: #767676;
}

.more-news .news-card .news-card-footer a:hover {
    text-decoration: underline;
}

/* Big news card */
.more-news .big-news-card .news-card {
    background-size: cover;
    min-height: 400px;
    width: 100%;
}

.more-news .big-news-card .news-card .news-card-title {
    margin-top: 279px;
    font-size: 38px;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px;
}

.more-news .big-news-card .news-card a {
    color: #fff;
}

/* Small cards section */

.more-news .small-news-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

/* Footer */

.footer {
    width: 100%;
    padding: 30px 15% 20px 15%;
    color: #fff;
    background-color: #4C4C4C;
    font-size: 14px;
    line-height: 1.2em;
}

.footer h2 {
    font-size: 22px;
}

.footer a {
    color: #fff;
}

.footer .site-sections {
    margin: 35px 0 20px 0;
    font-weight: 500;
}

.footer .site-sections li {
    display: inline-block;
    width: 174px;
    height: 35px;
    border-right: 1px solid #949494;
    margin-right: 10px;
    line-height: 35px;
}

.footer .links {
    display: block;
    list-style: none;
    font-size: 12px;
}

.footer .links li {
    display: inline-block;
    margin-bottom: 15px;
    min-width: 170px;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer p,
.footer .links {
    margin: 25px 0;
}

.footer .copyright {
    margin-bottom: 0;
    font-size: 13px;
}

/*Media queries*/

@media screen and (max-width: 1279px) {

    .header .site-search .site-search-input {
        color: #000;
        background-color: #000;
        width: 40px;
    }

    .header .site-search .site-search-input span {
        display: none;
    }
}

@media screen and (max-width: 1007px) {

    .header nav ul li:first-child {
        width: inherit;
    }

    .header nav ul li:first-child span {
        display: none;
    }

    .latest-news {
        grid-template-areas: 'big-news-title big-news-title big-news-title big-news-title'
            'big-news-card big-news-card big-news-card big-news-card'
            'small-news-cards small-news-cards small-news-cards small-news-cards';
        padding: 20px 2%;
    }

    .latest-news .small-news-card {
        justify-content: space-between;
        align-content: space-around;
        margin-top: 15px;
        margin-bottom: 15px;
        min-width: 49%;
        min-height: 250px;
    }

    .latest-news .small-news-card .news-card-title {
        margin-top: 160px;
        font-weight: 600;
    }

    .reel {
        padding: 20px 2%;
    }

    .more-news {
        padding: 20px 2%;
    }

    .more-news aside {
        width: 33%;
        float: right;
        min-height: 1485px;
    }

    .more-news aside table {
        padding: 20px 18px;
    }

    .more-news aside table img {
        display: none;
    }

    .more-news aside table .headline {
        text-align: center;
        font-size: 16px;
    }

    .more-news aside table .author {
        text-align: center;
    }

    .more-news section {
        width: 66%;
        float: left;
    }

    .more-news .news-card {
        width: 49%;
    }

    .more-news .big-news-card .news-card .news-card-title {
        font-size: 28px;
    }

    .footer {
        padding: 30px 5% 20px 5%;
    }
}

@media screen and (max-width: 768px) {

    .header {
        font-size: 12px;
    }

    .header nav ul li {
        margin-right: 0;
    }

    .more-news aside {
        min-height: 1371px;
    }

    .more-news aside h3 {
        font-size: 13px;
    }

    .more-news .news-card .news-card-title {
        font-size: 16px;
    }

}

@media screen and (max-width: 750px) {
    .reel .title .visit-reel {
        float: left;
    }
}

@media screen and (max-width: 599px) {

    .header {
        justify-content: space-between;
    }

    #signInButton {
        display: block;
    }

    .header nav {
        display: none;
    }

    #mobileNavToggle {
        display: block;
    }

    .latest-news .news-card .news-card-title {
        margin-top: 250px;
        font-size: 26px;
        font-weight: 600;
    }

    .latest-news .news-card .news-card-description {
        display: none;
    }

    .latest-news .small-news-card {
        min-width: 100%;
        min-height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-image: none !important;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
    }

    .latest-news .small-news-card .news-card-title {
        min-height: inherit;
        margin-top: inherit;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 15px;
        text-shadow: none;
    }

    .latest-news .small-news-card .news-card-footer {
        font-size: 13px;
        margin-top: 5px;
    }

    .latest-news .small-news-card .news-card-title a {
        color: black;
    }

    .latest-news .small-news-card .news-card-footer a {
        color: #b6b6b6;
    }

    .more-news {
        background-color: #fff;
    }

    .more-news aside {
        width: 100%;
        min-height: inherit;
        float: left;
        border: 1px solid #E91802;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .more-news aside table {
        background-color: #f2f2f2;
        padding: 28px 18px;
    }

    .more-news aside table .headline {
        font-weight: 600;
    }

    .more-news aside table a {
        color: #000;
    }

    .more-news aside table:nth-child(odd) {
        background-color: #fff;
    }

    .more-news section {
        width: 100%;
        background-color: white;
    }

    .more-news .big-news-card .news-card {
        margin-bottom: 10px;
    }

    .more-news .small-news-cards .news-card {
        min-width: 100%;
        min-height: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }

    .more-news .small-news-cards .news-card:last-child {
        border-bottom: none;
    }

    .more-news .small-news-cards .news-card {
        background-image: none !important;
    }

    .more-news .small-news-cards .news-card:hover {
        opacity: inherit;
    }

    .more-news .small-news-cards .news-card .news-card-title {
        min-height: inherit;
        margin-top: inherit;
        margin-bottom: 8px;
    }

    .more-news .small-news-cards .news-card .news-card-footer {
        margin-top: 8px;
        font-size: 14px;
    }

}

@media screen and (max-width: 450px) {

    .latest-news .title .date {
        margin-top: 10px;
        float: left;
    }

}